body{
    background-color: black;
}
h1,h2,h4,h3{
    color: azure;
    font-family:cursive;
}
p{
    color: azure;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 600px;
    border: 1px solid white;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 600px;
}
.reset{
    display: flex;
}
.scoreboard{
    margin-left: 1130px;
}
input{
    margin-top: 100px;
    margin-left: 20px;
    height:30px;
    width:500px;
    background-color: black;
    color: azure;
    border: 2px  solid white ;
    border-radius: 0.55rem;
    font-family: cursive;
    font-weight: xx-large;
}
button{
    width: 400px;
    height: 60px;
    background-color: black;
    color: azure;
    font-size: xx-large;
    border: 2px solid white ;
    cursor: pointer;
}
.message{
    margin-left: 500px;
    margin-top: 30px;
    font-size: xx-large;
    color: azure;
}
.check{
    width:150px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 0.55rem;
    display: block ;
}
span{
    margin-left: 20px;
}